$bgcolor: #EDF1D6
$herocolor: #9DC08B
$headercolor: #609966
$darkcolor: #40513B

body
  font-family: Helvetica, sans-serif
  margin: 0
  background: $bgcolor
  display: grid
  grid-template: 100px 1fr / 300px 1fr
  height: 100dvh

  header
    grid-column: span 2
    display: grid
    align-items: center
    padding-left: 2rem
    background: $herocolor
    font-size: 52px
    margin: 5px 5px 0 5px
    border-radius: 8px
    border: 2px solid $darkcolor

  .hero
    margin: 5px
    padding-top: 20px
    grid-area: 2 / 1 / span 1 / span 1
    display: grid
    grid-template-rows: repeat(4, 75px) 1fr 50px
    background: $herocolor
    border-radius: 8px
    border: 2px solid $darkcolor

    button
      place-self: center
      font-size: 2rem
      width: 75%
      height: 75%
      padding: 0
      border: none
      background: $herocolor
      box-shadow: 0 1px 0 0 $darkcolor

    button:hover
      background: $headercolor
    
    .credit
      grid-row: 6
      display: flex
      justify-content: center
      align-items: center
      color: $bgcolor
      font-style: italic
      background: $darkcolor
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px

  #content
    position: relative

    .bird img
      height: auto
      width: 30dvh
      position: fixed
      right: 0px
      opacity: 0.8
      z-index: 100

    .addSign
      height: 75px
      width: 75px
      position: fixed
      background: $darkcolor
      bottom: 30px
      right: 30px
      display: flex
      justify-content: center
      align-items: center
      color: $bgcolor
      font-size: 60px
      border-radius: 50%

    .addSign:hover
      box-shadow:  0 0 5px 0 #263022
      transform: scale(1.01)

  dialog#addTask
    padding: 0
    border: 2px solid $darkcolor
    border-radius: 8px
    background: $herocolor

    .headline
      margin: 10px
      margin-bottom: 0
      justify-content: center
      font-size: 3rem
      background: $headercolor
      border-radius: 8px
      border: 1px solid $darkcolor
      padding-left: 1rem

    form
      display: grid
      grid-template: 1fr 130px 50px/ 300px 150px
      align-items: start
      justify-content: center
      margin: 10px
      
      textarea
        width: 250px
        height: 130px
        resize: none
        border-radius: 4px
        border: 1px solid $darkcolor
        background: $bgcolor

      input
        background: $bgcolor
        border-radius: 4px
        border: 1px solid $darkcolor
        padding: 3px

      label
        padding: 10px

    .prio
      display: grid
      gap: 5px

      .h3
        padding: 0
        margin-bottom: 0

      div 
        padding-left: 10px

    .h3
      margin: 0
      margin-bottom: 5px
      padding: 0
      font-weight: 600

    .buttons
      width: 100%
      height: 100%
      align-self: center
      display: flex
      gap: 10px
      justify-content: center
      align-items: center

      button
        display: flex
        font-size: 1.2rem
        border: 1px solid $darkcolor
        border-radius: 4px
        padding: 4px 8px
        background: $bgcolor

      #addTaskButton:hover
        box-shadow: inset 0px 0px 25px 0px rgba($headercolor, 0.4)

      #cancelTaskButton:hover
        box-shadow: inset 0px 0px 25px 0px #f0808063

  dialog::backdrop
    background: rgba($darkcolor, 0.6)

  dialog#addProject
    padding: 0
    border: 2px solid $darkcolor
    border-radius: 8px
    background: $herocolor
    height: 300px
    width: 350px
    justify-content: center

    p
      margin: 10px
      margin-bottom: 0
      justify-content: center
      font-size: 2.5rem
      background: $headercolor
      border-radius: 8px
      border: 1px solid $darkcolor
      padding-left: 1rem
    
    .h3
      margin: 15px
      margin-bottom: 0
      padding: 0
      font-weight: 600

    input
      margin: 0
      margin-left: 15px
      background: $bgcolor
      border-radius: 4px
      border: 1px solid $darkcolor
      padding: 3px

    textarea
      margin: 0
      margin-left: 15px
      width: 90%
      height: 80px
      resize: none
      border-radius: 4px
      border: 1px solid $darkcolor
      background: $bgcolor

    .buttons
      width: 96%
      height: 100%
      display: flex
      gap: 10px
      justify-content: flex-end
      margin-top: 15px

    button
      display: flex
      font-size: 1.2rem
      border: 1px solid $darkcolor
      border-radius: 4px
      padding: 4px 8px
      background: $bgcolor

    #addProjectButton:hover
      box-shadow: inset 0px 0px 25px 0px rgba($headercolor, 0.4)

    #cancelProjectButton:hover
      box-shadow: inset 0px 0px 25px 0px #f0808063

  .allTasksContainer
    position: relative
    background: $bgcolor
    display: grid
    grid-template: 120px 1fr / 1fr

    .title
      width: 50%
      font-size: 3rem
      margin: 50px 0 0 50px
      padding-bottom: 20px
      box-shadow: 0 2px 0 0 $darkcolor
      font-weight: bold

  .allProjectsContainer
    display: grid
    grid-template: 120px 1fr / 1fr

    #title
      width: 50%
      font-size: 3rem
      margin: 50px 0 0 50px
      padding-bottom: 20px
      box-shadow: 0 2px 0 0 $darkcolor
      font-weight: bold

    .displayProjectsDiv
      display: flex
      flex-wrap: wrap
      width: 80%
      gap: 30px
      margin: 50px
      margin-top: 20px

      .project
        position: relative
        height: 200px
        width: 300px
        border: 2px solid $darkcolor
        border-radius: 8px
        display: flex
        flex-direction: column
        gap: 10px
        padding: 10px

        .projTitle
          font-size: 1.4rem
          font-weight: bold   

        .projDescription
          height: 100%
          overflow-wrap: break-word
          text-overflow: ellipsis
          font-style: italic

        .removeProjButton 
          position: absolute
          font-weight: bold
          padding: 2px 8px
          font-size: 14px
          top: 10px
          right: 10px
          background: $bgcolor
          border: 1px solid $darkcolor
          border-radius: 4px

        .removeProjButton:hover 
          background: rgba($darkcolor, 0.2)

      .project:hover
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1)
        transform: scale(1.01)

  #fullScreenProjContainer
    display: grid
    grid-template: 120px 1fr / 1fr

    #currentProjTitle
      width: 50%
      font-size: 3rem
      margin: 50px 0 0 50px
      padding-bottom: 20px
      box-shadow: 0 2px 0 0 $darkcolor
      font-weight: bold

  table
    margin: 50px
    align-self: start
    justify-self: start

    tr
      box-shadow: 0 1px 0 0 rgba($darkcolor, 0.4)

      th
        width: 0%
        white-space: nowrap
        font-weight: bold
        font-size: 1.5rem
        padding: 0
        margin: 0
        text-align: start
        padding-bottom: 10px
        padding-right: 50px

      th:last-of-type
        padding-right: 0

      td
        padding: 5px 10px 5px 0
        max-width: 300px
        overflow: hidden
        text-overflow: ellipsis

        button
          background: $bgcolor
          padding: 4px 8px
          border: 2px solid $darkcolor
          border-radius: 8px
          font-weight: bold
        
        button:hover
          background: rgba($darkcolor, 0.4)

      .centered
        padding-left: 20px

      textarea
        font-style: italic
        resize: none
        width: 80%
        height: 100%
        background: $bgcolor
        border: none

    .taskDone
      opacity: 50%
